
/* FOOTER */

footer {
    height: 10vh;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 1.4em;
}

.titulo {
    margin: 4rem 0;
    text-align: center;
    position: relative;
}

.titulo::after {
    content: '💖';
    /* height: 3px;
    width: 150px; */
    /* background-color: crimson; */
    position: absolute;
    top: 50%;
    margin-left: 20px
}

.titulo::before {
    content: '💖';
    /* height: 3px;
    width: 150px;
    background-color: crimson; */
    position: absolute;
    top: 50%;
    margin-right: 20px
}

.parrafo {
    text-align: center;
    font-size: 2em;
}

.parrafo::first-letter {
    font-size: 40px;
}
