/* HELPERS */

@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($columns: 0, $csize: 1fr, $rows: 0, $rsize: 1fr, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($columns, $csize);
    grid-template-rows: repeat($rows, $rsize);
    gap: $gap;
}