/* Variables */
$principal: #0c1f2e;
$light: #3798e2;
$secondary: #fff;
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;


$spacings:(
    xlarge: 5rem,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem 
); 

@each $var, $val in $spacings {
    .sp-#{$var} {
        padding: #{$val};
    }
}   